<StackLayout class="input-field">
    <Label class="h3 text-center"
           text="Search"
           textWrap="true"
           marginBottom="25"></Label>
    <TextField hint="Search images"
               autocorrect="false"
               (textChange)="search($event)"
               class="input input-border"></TextField>
</StackLayout>
<GridLayout columns="80, *, auto" rows="auto, *" >
    <Image *ngFor="let img of (images$|async)" src="{{img.path}}" />
</GridLayout>